{% extends 'base.html' %}
{% block content %}
<div class="container" style="color:white">
  <br>
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h4>
        uTTerNews is a website where you get the aggregate of the latest news and reports from trusted sources around India.
        In this website we tried to show the working of an online news system which retrives all top news form an API which is
        NewsAPI from different channels of India. This website saves your the time from looking up at individual source to get your daily
        intake of newa and reports.
      </h4>
      <br>
      <br>
      <br>
      <center><h4>Made with love</h4></center>

       <hr style="background-color:white">
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
{% endblock %}
