{% extends 'base.html' %}

{% block content %}
<style>
  body{
    color:black;
  }
</style>

{% for i in data %}
<br>
<div class="card">
  <div class="card-header">
    <h3>{{ i.name }}</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ i.id }}</h5>
    <p class="card-text">{{ i.description }}</p>
    <ul class="list-group list-group-flush">
      <h6><li class="list-group-item">Category: {{ i.category }}</li></h6>
      <h6><li class="list-group-item">Language: {{ i.language }}</li></h6>
      <h6><li class="list-group-item">Country: {{ i.country }}</li></h6>
    </ul>
    <br>
    <a href="{{ i.id }}" class="btn btn-primary">Get news from {{ i.name }}</a>

  </div>
</div>
<br>
{% endfor %}
{% endblock %}
