{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'accounts/register.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  <br>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">IRSC</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/accounts/">LogIn</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <center>
      <h1>Register Here !!</h1><hr>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <br>
        <br>
        <hr>
    <div class="col-sm-4">
    </div>
    </center>
    </div>
    </div>
</div>
{% endblock %}
