astroid==2.2.5
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
Django==2.2.6
idna==2.9
isort==4.3.21
kiwisolver==1.0.1
lazy-object-proxy==1.4.2
matplotlib==3.0.3
mccabe==0.6.1
numpy==1.16.3
pandas==0.24.2
pylint==2.3.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.23.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
sqlparse==0.3.0
typed-ast==1.4.0
UNKNOWN==0.0.0
urllib3==1.25.8
virtualenv==16.4.3
wrapt==1.11.2
